name: Docker Demo on Self-Hosted Runner

on:
  push:
    branches:
      - staging

jobs:
  run-in-paris:
    name: Run on Paris Runner
    runs-on: [self-hosted, paris]
    steps:
      - name: Run Docker Deploy
        run: ./deploy.sh

  run-in-oregon:
    name: Run on Oregon Runner
    runs-on: [self-hosted, oregon]
    steps:
      - name: Run Docker Deploy
        run: ./deploy.sh
