name: Docker Demo on Self-Hosted Runner

on:
  push:
    branches:
      - staging

jobs:
  run-in-paris:
    name: Run on Paris Runner
    runs-on: [self-hosted, paris]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Run Docker Deploy
        run: |
          chmod +x deploy.sh
          ./deploy.sh

  run-in-oregon:
    name: Run on Oregon Runner
    runs-on: [self-hosted, oregon]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Run Docker Deploy
        run: |
          chmod +x deploy.sh
          ./deploy.sh
