name: Docker Demo on Self-Hosted Runner

on:
  push:
    branches:
      - staging

jobs:
  run-in-paris:
    name: Run on Paris Runner
    runs-on: [self-hosted, paris]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set secrets as env vars
        env:
          HOOPS_LICENSE: ${{ secrets.HOOPS_LICENSE }}
          SSL_CERT: ${{ secrets.SSL_CERT }}
          SSL_KEY: ${{ secrets.SSL_KEY }}
          CA_CERT: ${{ secrets.CA_CERT }}
          GHCR_PAT: ${{ secrets.GHCR_PAT }}
          GITHUB_ACTOR: ${{ github.actor }}
        run: |
          chmod +x deploy.sh
          ./deploy.sh
      


  run-in-oregon:
    name: Run on Oregon Runner
    runs-on: [self-hosted, oregon]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set secrets as env vars
        env:
          HOOPS_LICENSE: ${{ secrets.HOOPS_LICENSE }}
          SSL_CERT: ${{ secrets.SSL_CERT }}
          SSL_KEY: ${{ secrets.SSL_KEY }}
          CA_CERT: ${{ secrets.CA_CERT }}
          GHCR_PAT: ${{ secrets.GHCR_PAT }}
          GITHUB_ACTOR: ${{ github.actor }}
        run: |
          chmod +x deploy.sh
          ./deploy.sh
      
