name: Docker Demo on Self-Hosted Runner

on:
  push:
    branches:
      - staging

jobs:
  run-in-paris:
    name: Run on Paris Runner
    runs-on: [self-hosted, paris]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set secrets as env vars
        run: |
          echo "HOOPS_LICENSE=${{ secrets.HOOPS_LICENSE }}" >> $GITHUB_ENV
          echo "SSL_CERT=${{ secrets.SSL_CERT }}" >> $GITHUB_ENV
          echo "SSL_KEY=${{ secrets.SSL_KEY }}" >> $GITHUB_ENV
          echo "CA_CERT=${{ secrets.CA_CERT }}" >> $GITHUB_ENV
          echo "GHCR_PAT=${{ secrets.GHCR_PAT }}" >> $GITHUB_ENV
          echo "GITHUB_ACTOR=${{ github.actor }}" >> $GITHUB_ENV
      - name: Run Docker Deploy
        run: |
          chmod +x deploy.sh
          ./deploy.sh


  run-in-oregon:
    name: Run on Oregon Runner
    runs-on: [self-hosted, oregon]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set secrets as env vars
        run: |
          echo "HOOPS_LICENSE=${{ secrets.HOOPS_LICENSE }}" >> $GITHUB_ENV
          echo "SSL_CERT=${{ secrets.SSL_CERT }}" >> $GITHUB_ENV
          echo "SSL_KEY=${{ secrets.SSL_KEY }}" >> $GITHUB_ENV
          echo "CA_CERT=${{ secrets.CA_CERT }}" >> $GITHUB_ENV
          echo "GHCR_PAT=${{ secrets.GHCR_PAT }}" >> $GITHUB_ENV
          echo "GITHUB_ACTOR=${{ github.actor }}" >> $GITHUB_ENV
      - name: Run Docker Deploy
        run: |
          chmod +x deploy.sh
          ./deploy.sh
